body{
    font-family: 'Oswald', sans-serif;
    margin: 0;
}
h1{
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 0;
}
H2{
    color:#15297a;
    font-size:35px ;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 70px;
}
p{
    
    color: dimgray;
}
.bluelight{
    color:#15297a;
    margin-top: 20px;
}
.pinklight{
    color:#ff8e61;
}
#i-section-p{
    font-size: 18px;
    margin: 45px 40% 50px 0px;
}
#ii-section-h1{
    font-size:40px ;
}
#ii-section-p{
    margin: 20px 20% 40px 0px ;
}
a{
    text-decoration: none;
    color: white;
}
.half-width{
    width: 40%;
    float: left ;
    margin-left: 5%;
    padding-left: 2%;
   
}
.link-button{
    padding: 10px 30px;
    background-color: lightsalmon;
    border-radius: 5px;
}
img{
    width: 100%;
}
.i-ii-section{
    height: 600px;
}
#projects{
    height: 900px;
    background-color: #ececec91; 
}
.item-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.projects-item{
    padding: 15px;
    width: 24%;
    background-color: white;
    height: 38%;
    float: left;
    align-items: center;
    border-radius: 20px;
    box-shadow:10px 10px 40px #acabab;
}
#project2{
    margin-left: 2%;
    margin-right: 2%;
}
.projects-item-h2{
    color: gray;
    font-size: 25px;
    padding: 0;
    margin:10px 5px;
    text-align: left;
}
.projects-item-p{
    font-weight: 100;
    margin-left: 5px;
}
#work-inquary{
    height: 350px;
}
.work-inquary-img{
    height: 60%;
    width: 60%;
    margin-left: 20%;
    margin-top: 8%;
}
#bg{
    background-image: url(images/Group_33094_1.png);
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
}
#bg-content{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#bg a{
    margin-left: px;
    display: inline-block;
    background-color: #ff6d33;

}
#bg h1{
    display: inline;
    color: white;
    font-size: 50px;
}
footer section{
    height: 200px;
}
footer section H2{
    padding: 0;
    margin: 0;
    font-size: 20px;
    color: dimgray;
}
footer section h3{
    font-size: 30px;
    color: #091d70;
    text-align: center;
    margin: 0;
    margin-top: 20px;
}
#icon{
    height: 50%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.icon-img{
    width: 3%;
}
#icon-mid{
    margin-left: 2%;
    margin-right: 2%;
}